/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*Jomolhari font*/
@font-face {
    font-family: 'Jomolhari';
    src: url('./Jomolhari-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: #333;

}

/* Style header and nav */
header {
    background-color: #0077BE;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    z-index: 9999;
}

#nav ul {
    display: flex;
}

#nav li {
    margin-right: 20px;
    list-style: none;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

#nav li a:hover {
    text-decoration: solid;
    color: #333;
    /* Saffron color */
    border-radius: 5px;
    padding: 5px 10px;
}

.logo img {
    height: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* Add a shadow */
}


/*The CSS for the content starts from here la*/
.container {
    max-width: 690px;
    width: 100%;
    background: white;
    border-radius: 7px;
    padding: 30px;
    margin-top: 150px;
    margin-bottom: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);

}

.wrapper {
    border-radius: 5px;
    border: 1px solid #ccc;

}

.wrapper .text-input {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.text-input .to-text {
    border-radius: 0px;
    border-left: 1px solid #ccc;
}

.text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
    font-family: 'Poppins';
}

.from-text {
    font-family: 'Jomolhari';
}

.text-input textarea::placeholder {
    color: #b7b6b6;
}

.controls,
.container li,
.icons,
.icons i {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.controls {
    list-style: none;
    padding: 12px 15px;
}

.controls .icons {
    width: 38%;
}

.controls .icons i {
    width: 50px;
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}

.controls .row.from .icons {
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

.controls .row.to .icons {
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

.controls .row select {
    color: #333;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding-left: 5px;
}

.text-input textarea::-webkit-scrollbar {
    width: 4px;
}

.controls .row select::-webkit-scrollbar {
    width: 8px;
}

.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
    background: #fff;
}

.text-input textarea::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 8px;
}

.controls .row select::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 8px;
    border-right: 2px solid #ffffff;
}

.controls .exchange {
    color: #adadad;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.container button {
    width: 100%;
    padding: 14px;
    margin-top: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    background: #5372f0;
}

@media (max-width: 660px) {
    .container {
        padding: 20px;
    }

    .wrapper .text-input {
        flex-direction: column;
    }

    .text-input .to-text {
        border-left: 0px;
        border-top: 1px solid #ccc;
    }

    .text-input textarea {
        height: 200px;
    }

    .controls .row .icons {
        display: none;
    }

    .container button {
        padding: 13px;
        font-size: 16px;
    }

    .controls .row select {
        font-size: 16px;
    }

    .controls .exchange {
        font-size: 14px;
    }
}

/* Style footer */
footer {
    background-color: #283679;
    color: #bbb;
    line-height: 1.5;
    width: 100%;
    font-family: '';
}

footer a {
    text-decoration: none;
    color: #eee;
    font-family: 'Jomolhari';
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

/* Sticks footer to bottom */
.container_footer {
    flex: 1;
}

/* Footer main */
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem

    /* 477px */
) {
    .ft-main {
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 77.5rem

    /* 1240px */
) {
    .ft-main {
        justify-content: space-evenly;
    }
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

.ft-main-item li {
    font-family: 'Jomolhari';
    list-style: none;

}

.ft-title {
    font-family: 'Jomolhari';
    list-style: none;

}

/* Footer main | Newsletter form */
form {
    display: flex;
    flex-wrap: wrap;
}

input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}

input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

/* Footer social */
.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
    list-style: none;

}

/* Footer legal */
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #1b2554;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    font-family: 'Jomolhari';
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
    list-style: none;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}