<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dzongkha Translation Tool</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='./img/logo.jpg') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="/static/style.css" />

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>
    {% include "./navbar.html" %}
    {% block body %}

    {% endblock body %}
    <!--Footer-->
    <div class="container_footer"></div>
    <footer>
        <!-- Footer main -->
        <section class="ft-main">
            <div class="ft-main-item">
                <h2 class="ft-title">ང་བཅས་ཀྱི་སྐོར།</h2>
                <ul>
                    <li><a href="#">ངོ་སྤྲོད།</a></li>
                    <li><a href="#">སྡེ་ཚན།</a></li>
                </ul>
            </div>
            <div class="ft-main-item">
                <h2 class="ft-title">ཁ་བྱང།</h2>
                <ul>
                    <li>རྫོང་ཁ་གོང་འཕེལ་ལྷན་ཚོགས།</li>
                    <li>པད་གླིང་ལམ། ཀ་ཝང་བྱང་ས།</li>
                    <li>འགྲེམས་སྒྲོམ་ཨང། ༡༢༢ ཐིམ་ཕུག</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> ddc@dzongkha.gov.bt</li>
                    <li><i class="fa fa-phone-square" aria-hidden="true"></i> Phone: +975 02-325226 | 02-322662 Fax: 975
                        02-322992
                    </li>
                    <li><i class="fa fa-fax" aria-hidden="true"></i> Contact webmaster: ict(at)dzongkha.gov.bt/
                        02-322662(124)
                    </li>
                    <li><i class="fa fa-globe" aria-hidden="true"></i>www.dzongkha.gov.bt</li>
                </ul>
            </div>
            <div class="ft-main-item">
                <h2 class="ft-title">Stay Updated</h2>
                <p>Subscribe to our newsletter to get our latest news.</p>
                <form>
                    <input type="email" name="email" placeholder="Enter email address">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </section>

        <!-- Footer social -->
        <section class="ft-social">
            <ul class="ft-social-list">
                <li><a href="https://www.facebook.com/DzongkhaDevelopmentCommission"><i class="fab fa-facebook"></i></a>
                </li>
                <li><a href="https://twitter.com/ddcbhutan?lang=en"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </section>

        <!-- Footer legal -->
        <section class="ft-legal">
            <ul class="ft-legal-list">
                <li><a href="#">ཁ་མི་བཟེད་པའི་ངག་བརྗོད།</a></li>
                <li><a href="#">འབྲེལ་བ་འཐབ་ས།</a></li>
                <li>འདྲ་བཤུས་དབང༌ཆ། &copy; རྫོང་ཁ་གོང་འཕེལ་ལྷན་ཚོགས། 2023
                    དབང་ཆ་ཧྲིལ་བུམ་རྫོང་ཁ་གོང་འཕེལ་ལྷན་ཚོགས་ལུ་ཡོད།</li>
            </ul>
        </section>
    </footer>
</body>
{% block js %}
{% endblock js %}

</html>